body{
  margin: 0;
  background-color: aliceblue;
}
header{
  margin: 0;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > a{
  text-decoration: none;
  color: black;
}
.top_icon{
  font-size: 24px;
  font-weight: bold;
}
#nav-toggle{
  display: none;
}
#gloval-nav {
  display: none;
}
#gloval-nav > ul{
  list-style: none;
}
#gloval-nav > ul > li{
  margin: 0 0 50px 0;
}
#gloval-nav > ul > li > a{
  text-decoration: none;
  color: black;
}
.in_icon{
  margin: 0;
  padding-left: 60px;
  height: 70px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  justify-content: flex-start;
}
.log_in_form > form{
  margin: 30px auto 0 auto;
  width: 25%;
}
.log_in_form > p{
  margin: 30px auto 0 auto;
  width: 25%;
}
.count_view{
  background-color: white;
  padding-left: 10px;
}

.article_list{
  margin: 0 10px;
}
.article_list > div{
  border-bottom: solid;
  overflow-wrap: break-word;
}
.article_list > div > p{
  margin-top: 0;
  margin-bottom: 5px;
}

.search_form{
  padding-left: 10px;
}

@media screen and (max-width:959px){
  header > a {
    display: none;
  }
  .top_icon{
    display: block;
  }
  #nav-toggle{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
    position: relative;
    width: 30px;
    height: 30px;
  }
  #nav-toggle > span{
    width: 30px;
    height: 1px;
    display: block;
    background-color: black;
    position: absolute;
    transition: transform .6s ease-in-out, top .5s ease;
  }
  #nav-toggle span:nth-child(1) {
    top: 5px;
  }
  #nav-toggle span:nth-child(2) {
    top: 15px;
  }
  #nav-toggle span:nth-child(3) {
    top:25px;
  }
  .open #nav-toggle span {
    background: #fff;
  }  
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
  }
  #gloval-nav {
    z-index: 1;
    background: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }
  .open #gloval-nav {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width:599px){
  .article_list > div{
    width: 100%;
  }
  .log_in_form > form{
    margin: 30px auto 0 auto;
    width: 70%;
  }
  .log_in_form > p{
    margin: 30px auto 0 auto;
    width: 70%;
  }
}